
body {
    margin: 0;
    line-height: normal;
}

.group {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 300px;
    height: 150px;
    overflow: hidden;
}
.rectangle {
    position: absolute;
    top: -8px;
    left: 0px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 1333px;
    height: 80px;
}
.frame-icon {
    position: absolute;
    top: 17px;
    left: 20px;
    width: 200px;
    height: 30px;
    overflow: hidden;
}
.rectangle1 {
    position: absolute;
    top: 12px;
    left: 1109px;
    border-radius: 30px;
    background-color: #000;
    width: 204px;
    height: 39px;
}
.rectangle2 {
    position: absolute;
    top: 690px;
    left: 60px;
    border-radius: 12px;
    background-color: #fff;
    width: 110px;
    height: 110px;
}
.frame-icon1 {
    position: absolute;
    top: 690px;
    left: 60px;
    width: 110px;
    height: 110px;
    overflow: hidden;
}
.frame-icon2 {
    position: absolute;
    top: 773px;
    left: 185px;
    width: 55px;
    height: 43px;
    overflow: hidden;
}
.rectangle3 {
    position: absolute;
    top: 110px;
    left: 30px;
    border-radius: 32px;
    width: 1273px;
    height: 720px;
}
.image-icon {
    position: absolute;
    top: 110px;
    left: 30px;
    width: 1273px;
    height: 720px;
    object-fit: cover;
}
.rectangle4 {
    position: absolute;
    top: 110px;
    left: 30px;
    width: 1273px;
    height: 720px;
}
.rectangle5 {
    position: absolute;
    top: 930px;
    left: 30px;
    border-radius: 20px;
    border: 1px solid #e2e3e6;
    box-sizing: border-box;
    width: 622px;
    height: 560px;
}
.frame-icon3 {
    position: absolute;
    top: 987px;
    left: 301px;
    width: 80px;
    height: 80px;
    overflow: hidden;
}
.rectangle6 {
    position: absolute;
    top: 930px;
    left: 682px;
    border-radius: 20px;
    border: 1px solid #e2e3e6;
    box-sizing: border-box;
    width: 622px;
    height: 560px;
}
.frame-icon4 {
    position: absolute;
    top: 987px;
    left: 953px;
    width: 80px;
    height: 80px;
    overflow: hidden;
}
.rectangle7 {
    position: absolute;
    top: 1590px;
    left: 30px;
    border-radius: 20px;
    background-color: #a9ff2c;
    width: 1273px;
    height: 260px;
}
.rectangle8 {
    position: absolute;
    top: 2126px;
    left: 30px;
    border-radius: 20px;
    background-color: #f1f1f1;
    width: 622px;
    height: 465px;
}
.image-icon1 {
    position: absolute;
    top: 2126px;
    left: 204px;
    width: 274px;
    height: 465px;
    object-fit: cover;
}
.rectangle9 {
    position: absolute;
    top: 2656px;
    left: 30px;
    width: 622px;
    height: 40px;
}
.rectangle10 {
    position: absolute;
    top: 2126px;
    left: 682px;
    border-radius: 20px;
    background-color: #f1f1f1;
    width: 622px;
    height: 465px;
}
.image-icon2 {
    position: absolute;
    top: 2126px;
    left: 856px;
    width: 274px;
    height: 465px;
    object-fit: cover;
}
.rectangle11 {
    position: absolute;
    top: 2656px;
    left: 682px;
    width: 622px;
    height: 70px;
}
.rectangle12 {
    position: absolute;
    top: 2786px;
    left: 30px;
    border-radius: 20px;
    background-color: #f1f1f1;
    width: 622px;
    height: 465px;
}
.image-icon3 {
    position: absolute;
    top: 2786px;
    left: 204px;
    width: 274px;
    height: 465px;
    object-fit: cover;
}
.rectangle13 {
    position: absolute;
    top: 3317px;
    left: 30px;
    width: 622px;
    height: 70px;
}
.rectangle14 {
    position: absolute;
    top: 2786px;
    left: 682px;
    border-radius: 20px;
    background-color: #f1f1f1;
    width: 622px;
    height: 465px;
}
.image-icon4 {
    position: absolute;
    top: 2786px;
    left: 856px;
    width: 274px;
    height: 465px;
    object-fit: cover;
}
.rectangle15 {
    position: absolute;
    top: 3317px;
    left: 682px;
    width: 622px;
    height: 70px;
}
.rectangle16 {
    position: absolute;
    top: 3447px;
    left: 30px;
    border-radius: 20px;
    background-color: #f1f1f1;
    width: 622px;
    height: 465px;
}
.image-icon5 {
    position: absolute;
    top: 3447px;
    left: 204px;
    width: 274px;
    height: 465px;
    object-fit: cover;
}
.rectangle17 {
    position: absolute;
    top: 3978px;
    left: 30px;
    width: 622px;
    height: 40px;
}
.rectangle18 {
    position: absolute;
    top: 3447px;
    left: 682px;
    border-radius: 20px;
    background-color: #f1f1f1;
    width: 622px;
    height: 465px;
}
.image-icon6 {
    position: absolute;
    top: 3447px;
    left: 856px;
    width: 274px;
    height: 465px;
    object-fit: cover;
}
.rectangle19 {
    position: absolute;
    top: 3978px;
    left: 843px;
    width: 298px;
    height: 100px;
}
.image-icon7 {
    position: absolute;
    top: 5132px;
    left: 30px;
    border-radius: 10px;
    width: 622px;
    height: 497px;
    object-fit: cover;
}
.image-icon8 {
    position: absolute;
    top: 5132px;
    left: 682px;
    border-radius: 10px;
    width: 622px;
    height: 497px;
    object-fit: cover;
}
.image-icon9 {
    position: absolute;
    top: 5882px;
    left: 30px;
    border-radius: 10px;
    width: 622px;
    height: 497px;
    object-fit: cover;
}
.image-icon10 {
    position: absolute;
    top: 5882px;
    left: 682px;
    border-radius: 10px;
    width: 622px;
    height: 497px;
    object-fit: cover;
}
.rectangle20 {
    position: absolute;
    top: 6717px;
    left: 30px;
    border-radius: 20px;
    background-color: #a9ff2c;
    width: 1273px;
    height: 310px;
}
.rectangle21 {
    position: absolute;
    top: 7127px;
    left: 30px;
    border-radius: 20px;
    background-color: #f1f1f1;
    width: 1273px;
    height: 720px;
}
.image-icon11 {
    position: absolute;
    top: 7205px;
    left: 803px;
    width: 500px;
    height: 604px;
    object-fit: cover;
}
.rectangle22 {
    position: absolute;
    top: 8122px;
    left: 30px;
    border-radius: 20px;
    background-color: #f1f1f1;
    width: 1273px;
    height: 700px;
}
.image-icon12 {
    position: absolute;
    top: 8197px;
    left: 100px;
    width: 350px;
    height: 678px;
    object-fit: cover;
}
.image-icon13 {
    position: absolute;
    top: 8013px;
    left: 498px;
    width: 350px;
    height: 678px;
    object-fit: cover;
}
.image-icon14 {
    position: absolute;
    top: 8197px;
    left: 893px;
    width: 350px;
    height: 678px;
    object-fit: cover;
}
.frame-icon5 {
    position: absolute;
    top: 9070px;
    left: 70px;
    width: 172px;
    height: 102px;
    overflow: hidden;
}
.frame-icon6 {
    position: absolute;
    top: 9070px;
    left: 325px;
    width: 172px;
    height: 102px;
    overflow: hidden;
    object-fit: contain;
}
.frame-icon7 {
    position: absolute;
    top: 9070px;
    left: 579px;
    width: 172px;
    height: 102px;
    overflow: hidden;
}
.frame-icon8 {
    position: absolute;
    top: 9070px;
    left: 834px;
    width: 172px;
    height: 102px;
    overflow: hidden;
    object-fit: contain;
}
.frame-icon9 {
    position: absolute;
    top: 9070px;
    left: 1089px;
    width: 172px;
    height: 102px;
    overflow: hidden;
}
.frame-icon10 {
    position: absolute;
    top: 9228px;
    left: 70px;
    width: 172px;
    height: 102px;
    overflow: hidden;
}
.frame-icon11 {
    position: absolute;
    top: 9228px;
    left: 325px;
    width: 172px;
    height: 102px;
    overflow: hidden;
}
.frame-icon12 {
    position: absolute;
    top: 9228px;
    left: 579px;
    width: 172px;
    height: 102px;
    overflow: hidden;
}
.frame-icon13 {
    position: absolute;
    top: 9228px;
    left: 834px;
    width: 172px;
    height: 102px;
    overflow: hidden;
}
.frame-icon14 {
    position: absolute;
    top: 9228px;
    left: 1089px;
    width: 172px;
    height: 102px;
    overflow: hidden;
}
.rectangle23 {
    position: absolute;
    top: 9458px;
    left: 30px;
    border-radius: 20px;
    background-color: #a9ff2c;
    width: 1273px;
    height: 260px;
}
.rectangle24 {
    position: absolute;
    top: 10057.66px;
    left: 30px;
    background-color: #000;
    width: 137.8px;
    height: 1.1px;
}
.rectangle25 {
    position: absolute;
    top: 10000px;
    left: 30px;
    width: 138px;
    height: 58px;
}
.rectangle26 {
    position: absolute;
    top: 10114px;
    left: 30px;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #f1f1f1;
    box-sizing: border-box;
    width: 440px;
    height: 866px;
}
.rectangle27 {
    position: absolute;
    top: 10293.77px;
    left: 61.11px;
    background-color: #e2e3e6;
    width: 392.8px;
    height: 1.1px;
}
.rectangle28 {
    position: absolute;
    top: 10295px;
    left: 61px;
    width: 393px;
    height: 580px;
}
.rectangle29 {
    position: absolute;
    top: 10114px;
    left: 500px;
    border-radius: 20px;
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    box-sizing: border-box;
    width: 440px;
    height: 866px;
}
.rectangle30 {
    position: absolute;
    top: 10293.77px;
    left: 531.11px;
    background-color: #e2e3e6;
    width: 339.5px;
    height: 1.1px;
}
.rectangle31 {
    position: absolute;
    top: 10295px;
    left: 531px;
    width: 340px;
    height: 580px;
}
.rectangle32 {
    position: absolute;
    top: 10114px;
    left: 970px;
    border-radius: 20px;
    background-color: #000;
    border: 1px solid #f1f1f1;
    box-sizing: border-box;
    width: 440px;
    height: 866px;
}
.frame-icon15 {
    position: absolute;
    top: 10150px;
    left: 1357px;
    width: 15px;
    height: 28px;
    overflow: hidden;
}
.rectangle33 {
    position: absolute;
    top: 10293.77px;
    left: 1001.11px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 392.8px;
    height: 1.1px;
}
.rectangle34 {
    position: absolute;
    top: 10295px;
    left: 1001px;
    width: 393px;
    height: 604px;
}
.frame-icon16 {
    position: absolute;
    top: 11090px;
    left: 1134px;
    width: 43px;
    height: 38px;
    overflow: hidden;
}
.frame-icon17 {
    position: absolute;
    top: 11090px;
    left: 1250px;
    width: 43px;
    height: 38px;
    overflow: hidden;
}
.rectangle35 {
    position: absolute;
    top: 11196px;
    left: 30px;
    border-radius: 20px;
    width: 407px;
    height: 474px;
}
.image-icon15 {
    position: absolute;
    top: 11196px;
    left: 30px;
    border-radius: 20px;
    width: 407px;
    height: 474px;
    object-fit: cover;
}
.rectangle36 {
    position: absolute;
    top: 11196px;
    left: 1403px;
    border-radius: 20px;
    width: 407px;
    height: 474px;
}
.image-icon16 {
    position: absolute;
    top: 11196px;
    left: 1403px;
    border-radius: 20px;
    width: 407px;
    height: 474px;
    object-fit: cover;
}
.rectangle37 {
    position: absolute;
    top: 11196px;
    left: 2776px;
    border-radius: 20px;
    width: 407px;
    height: 474px;
}
.image-icon17 {
    position: absolute;
    top: 11196px;
    left: 2776px;
    border-radius: 20px;
    width: 407px;
    height: 474px;
    object-fit: cover;
}
.rectangle38 {
    position: absolute;
    top: 12018px;
    left: 30px;
    border-radius: 20px;
    background-color: #f1f1f1;
    width: 404px;
    height: 290px;
}
.rectangle39 {
    position: absolute;
    top: 12048px;
    left: 60px;
    width: 60px;
    height: 60px;
}
.image-icon18 {
    position: absolute;
    top: 12048px;
    left: 60px;
    width: 60px;
    height: 60px;
    object-fit: cover;
}
.frame-icon18 {
    position: absolute;
    top: 12081px;
    left: 130px;
    width: 110px;
    height: 19px;
    overflow: hidden;
}
.rectangle40 {
    position: absolute;
    top: 12338px;
    left: 30px;
    border-radius: 20px;
    background-color: #f1f1f1;
    width: 404px;
    height: 290px;
}
.rectangle41 {
    position: absolute;
    top: 12368px;
    left: 60px;
    width: 60px;
    height: 60px;
}
.image-icon19 {
    position: absolute;
    top: 12368px;
    left: 60px;
    width: 60px;
    height: 60px;
    object-fit: cover;
}
.frame-icon19 {
    position: absolute;
    top: 12402px;
    left: 130px;
    width: 120px;
    height: 18px;
    overflow: hidden;
}
.rectangle42 {
    position: absolute;
    top: 12018px;
    left: 464px;
    border-radius: 20px;
    background-color: #f1f1f1;
    width: 404px;
    height: 350px;
}
.rectangle43 {
    position: absolute;
    top: 12048px;
    left: 494px;
    width: 60px;
    height: 60px;
}
.image-icon20 {
    position: absolute;
    top: 12048px;
    left: 494px;
    width: 60px;
    height: 60px;
    object-fit: cover;
}
.frame-icon20 {
    position: absolute;
    top: 12081px;
    left: 564px;
    width: 110px;
    height: 19px;
    overflow: hidden;
}
.rectangle44 {
    position: absolute;
    top: 12398px;
    left: 464px;
    border-radius: 20px;
    background-color: #f1f1f1;
    width: 404px;
    height: 290px;
}
.rectangle45 {
    position: absolute;
    top: 12428px;
    left: 494px;
    width: 60px;
    height: 60px;
}
.image-icon21 {
    position: absolute;
    top: 12428px;
    left: 494px;
    width: 60px;
    height: 60px;
    object-fit: cover;
}
.frame-icon21 {
    position: absolute;
    top: 12462px;
    left: 564px;
    width: 120px;
    height: 18px;
    overflow: hidden;
}
.rectangle46 {
    position: absolute;
    top: 12018px;
    left: 899px;
    border-radius: 20px;
    background-color: #f1f1f1;
    width: 404px;
    height: 230px;
}
.rectangle47 {
    position: absolute;
    top: 12048px;
    left: 929px;
    width: 60px;
    height: 60px;
}
.image-icon22 {
    position: absolute;
    top: 12048px;
    left: 929px;
    width: 60px;
    height: 60px;
    object-fit: cover;
}
.frame-icon22 {
    position: absolute;
    top: 12081px;
    left: 999px;
    width: 110px;
    height: 19px;
    overflow: hidden;
}
.rectangle48 {
    position: absolute;
    top: 12278px;
    left: 899px;
    border-radius: 20px;
    background-color: #f1f1f1;
    width: 404px;
    height: 380px;
}
.rectangle49 {
    position: absolute;
    top: 12308px;
    left: 929px;
    width: 60px;
    height: 60px;
}
.image-icon23 {
    position: absolute;
    top: 12308px;
    left: 929px;
    width: 60px;
    height: 60px;
    object-fit: cover;
}
.frame-icon23 {
    position: absolute;
    top: 12341px;
    left: 999px;
    width: 110px;
    height: 19px;
    overflow: hidden;
}
.rectangle50 {
    position: absolute;
    top: 12840.73px;
    left: 462.92px;
    background-color: #e2e3e6;
    width: 840.4px;
    height: 1.1px;
}
.rectangle51 {
    position: absolute;
    top: 12788px;
    left: 463px;
    width: 840px;
    height: 53px;
}
.frame-icon24 {
    position: absolute;
    top: 12799px;
    left: 1281px;
    width: 22px;
    height: 12px;
    overflow: hidden;
}
.rectangle52 {
    position: absolute;
    top: 12915.83px;
    left: 462.92px;
    background-color: #e2e3e6;
    width: 840.4px;
    height: 1.1px;
}
.rectangle53 {
    position: absolute;
    top: 12841px;
    left: 463px;
    width: 840px;
    height: 75px;
}
.frame-icon25 {
    position: absolute;
    top: 12874px;
    left: 1281px;
    width: 22px;
    height: 12px;
    overflow: hidden;
}
.rectangle54 {
    position: absolute;
    top: 12990.94px;
    left: 462.92px;
    background-color: #e2e3e6;
    width: 840.4px;
    height: 1.1px;
}
.rectangle55 {
    position: absolute;
    top: 12916px;
    left: 463px;
    width: 840px;
    height: 75px;
}
.frame-icon26 {
    position: absolute;
    top: 12949px;
    left: 1281px;
    width: 22px;
    height: 12px;
    overflow: hidden;
}
.rectangle56 {
    position: absolute;
    top: 13066.04px;
    left: 462.92px;
    background-color: #e2e3e6;
    width: 840.4px;
    height: 1.1px;
}
.rectangle57 {
    position: absolute;
    top: 12991px;
    left: 463px;
    width: 840px;
    height: 75px;
}
.frame-icon27 {
    position: absolute;
    top: 13024px;
    left: 1281px;
    width: 22px;
    height: 12px;
    overflow: hidden;
}
.rectangle58 {
    position: absolute;
    top: 13141.15px;
    left: 462.92px;
    background-color: #e2e3e6;
    width: 840.4px;
    height: 1.1px;
}
.rectangle59 {
    position: absolute;
    top: 13066px;
    left: 463px;
    width: 840px;
    height: 75px;
}
.frame-icon28 {
    position: absolute;
    top: 13099px;
    left: 1281px;
    width: 22px;
    height: 12px;
    overflow: hidden;
}
.rectangle60 {
    position: absolute;
    top: 13216.25px;
    left: 462.92px;
    background-color: #e2e3e6;
    width: 840.4px;
    height: 1.1px;
}
.rectangle61 {
    position: absolute;
    top: 13141px;
    left: 463px;
    width: 840px;
    height: 75px;
}
.frame-icon29 {
    position: absolute;
    top: 13174px;
    left: 1281px;
    width: 22px;
    height: 12px;
    overflow: hidden;
}
.rectangle62 {
    position: absolute;
    top: 13291.36px;
    left: 462.92px;
    background-color: #e2e3e6;
    width: 840.4px;
    height: 1.1px;
}
.rectangle63 {
    position: absolute;
    top: 13216px;
    left: 463px;
    width: 840px;
    height: 75px;
}
.frame-icon30 {
    position: absolute;
    top: 13250px;
    left: 1281px;
    width: 22px;
    height: 12px;
    overflow: hidden;
}
.rectangle64 {
    position: absolute;
    top: 13391px;
    left: 30px;
    border-radius: 32px;
    background-color: #a9ff2c;
    width: 1273px;
    height: 712px;
}
.frame-icon31 {
    position: absolute;
    top: 13471px;
    left: 632px;
    width: 70px;
    height: 70px;
    overflow: hidden;
}
.rectangle65 {
    position: absolute;
    top: 13937px;
    left: 477px;
    border-radius: 30px;
    background-color: #000;
    width: 380px;
    height: 66px;
}
.frame-icon32 {
    position: absolute;
    top: 13962px;
    left: 788px;
    width: 16px;
    height: 16px;
    overflow: hidden;
}
.div {
    position: absolute;
    top: 17px;
    left: 1125px;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 172px;
}
.div1 {
    position: absolute;
    top: 110px;
    left: 60px;
    font-size: 72px;
    line-height: 74px;
    color: #fff;
    display: inline-block;
    width: 628px;
}
.div2 {
    position: absolute;
    top: 680px;
    left: 195px;
    font-size: 26px;
    letter-spacing: 0.5px;
    line-height: 34px;
    color: #fff;
    display: inline-block;
    width: 223px;
}
.qr- {
    position: absolute;
    top: 719px;
    left: 195px;
    letter-spacing: 0.5px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    width: 265px;
}
.covid-19 {
    position: absolute;
    top: 1087px;
    left: 107px;
    font-size: 52px;
    line-height: 58px;
    text-align: center;
    display: inline-block;
    width: 462px;
}
.hoteza-web {
    position: absolute;
    top: 1250px;
    left: 71px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    display: inline-block;
    width: 534px;
}
.div3 {
    position: absolute;
    top: 1087px;
    left: 843px;
    font-size: 52px;
    line-height: 58px;
    text-align: center;
    display: inline-block;
    width: 294px;
}
.pms-pos-sos {
    position: absolute;
    top: 1145px;
    left: 789px;
    font-size: 52px;
    line-height: 58px;
    text-align: center;
    display: inline-block;
    width: 402px;
}
.pms {
    position: absolute;
    top: 1308px;
    left: 716px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    display: inline-block;
    width: 548px;
}
.qr-1 {
    position: absolute;
    top: 1603px;
    left: 60px;
    font-size: 46px;
    line-height: 51px;
    display: inline-block;
    width: 1161px;
}
.div4 {
    position: absolute;
    top: 1930px;
    left: 30px;
    font-size: 52px;
    line-height: 58px;
    display: inline-block;
    width: 558px;
}
.div5 {
    position: absolute;
    top: 1945px;
    left: 769px;
    font-size: 24px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    width: 486px;
}
.div6 {
    position: absolute;
    top: 2613px;
    left: 264px;
    font-size: 26px;
    line-height: 34px;
    text-align: center;
    display: inline-block;
    width: 154px;
}
.div7 {
    position: absolute;
    top: 2662px;
    left: 55px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    width: 572px;
}
.div8 {
    position: absolute;
    top: 2613px;
    left: 762px;
    font-size: 26px;
    line-height: 34px;
    text-align: center;
    display: inline-block;
    width: 461px;
}
.div9 {
    position: absolute;
    top: 2662px;
    left: 700px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    width: 586px;
}
.check-out {
    position: absolute;
    top: 3274px;
    left: 74px;
    font-size: 27px;
    line-height: 34px;
    text-align: center;
    display: inline-block;
    width: 533px;
}
.div10 {
    position: absolute;
    top: 3323px;
    left: 55px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    width: 571px;
}
.div11 {
    position: absolute;
    top: 3274px;
    left: 818px;
    font-size: 27px;
    line-height: 34px;
    text-align: center;
    display: inline-block;
    width: 350px;
}
.div12 {
    position: absolute;
    top: 3323px;
    left: 727px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    width: 531px;
}
.div13 {
    position: absolute;
    top: 3934px;
    left: 208px;
    font-size: 26px;
    line-height: 34px;
    text-align: center;
    display: inline-block;
    width: 266px;
}
.div14 {
    position: absolute;
    top: 3983px;
    left: 69px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    width: 543px;
}
.grms {
    position: absolute;
    top: 3934px;
    left: 839px;
    font-size: 27px;
    line-height: 34px;
    text-align: center;
    display: inline-block;
    width: 307px;
}
.div15 {
    position: absolute;
    top: 3983px;
    left: 869px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    width: 247px;
}
.div16 {
    position: absolute;
    top: 4392px;
    left: 301px;
    font-size: 52px;
    line-height: 58px;
    display: inline-block;
    width: 806px;
}
.div17 {
    position: absolute;
    top: 4879px;
    left: 30px;
    font-size: 52px;
    line-height: 58px;
    display: inline-block;
    width: 383px;
}
.div18 {
    position: absolute;
    top: 4924px;
    left: 794px;
    font-size: 24px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    width: 387px;
}
.div19 {
    position: absolute;
    top: 5647px;
    left: 30px;
    font-size: 36px;
    line-height: 41px;
    display: inline-block;
    width: 369px;
}
.qr-2 {
    position: absolute;
    top: 5726px;
    left: 30px;
    font-size: 20px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    width: 603px;
}
.div20 {
    position: absolute;
    top: 5647px;
    left: 682px;
    font-size: 35px;
    line-height: 41px;
    display: inline-block;
    width: 239px;
}
.div21 {
    position: absolute;
    top: 5726px;
    left: 682px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    width: 601px;
}
.div22 {
    position: absolute;
    top: 6397px;
    left: 30px;
    font-size: 35px;
    line-height: 41px;
    display: inline-block;
    width: 206px;
}
.qr-3 {
    position: absolute;
    top: 6476px;
    left: 30px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    width: 559px;
}
.div23 {
    position: absolute;
    top: 6397px;
    left: 682px;
    font-size: 36px;
    line-height: 41px;
    display: inline-block;
    width: 532px;
}
.wi-fi {
    position: absolute;
    top: 6476px;
    left: 682px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    width: 580px;
}
.pms1 {
    position: absolute;
    top: 6729px;
    left: 60px;
    font-size: 46px;
    line-height: 51px;
    display: inline-block;
    width: 1212px;
}
.div24 {
    position: absolute;
    top: 7265px;
    left: 77px;
    font-size: 52px;
    line-height: 58px;
    text-align: center;
    display: inline-block;
    width: 426px;
}
.telegram- {
    position: absolute;
    top: 7560px;
    left: 53px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    display: inline-block;
    width: 474px;
}
.div25 {
    position: absolute;
    top: 7927px;
    left: 30px;
    font-size: 52px;
    line-height: 58px;
    display: inline-block;
    width: 599px;
}
.div26 {
    position: absolute;
    top: 7953px;
    left: 769px;
    font-size: 24px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    width: 506px;
}
.div27 {
    position: absolute;
    top: 8903px;
    left: 30px;
    font-size: 52px;
    line-height: 58px;
    display: inline-block;
    width: 561px;
}
.hoteza {
    position: absolute;
    top: 8916px;
    left: 769px;
    font-size: 24px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    width: 501px;
}
.applepay-googlepay {
    position: absolute;
    top: 9470px;
    left: 60px;
    font-size: 46px;
    line-height: 51px;
    display: inline-block;
    width: 1077px;
}
.div28 {
    position: absolute;
    top: 9798px;
    left: 30px;
    font-size: 52px;
    line-height: 58px;
    display: inline-block;
    width: 522px;
}
.div29 {
    position: absolute;
    top: 10006px;
    left: 50px;
    font-size: 22px;
    line-height: 27.6px;
    text-align: center;
    display: inline-block;
    width: 98px;
}
.div30 {
    position: absolute;
    top: 10007px;
    left: 188px;
    font-size: 23px;
    line-height: 27.6px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    display: inline-block;
    width: 166px;
}
.div31 {
    position: absolute;
    top: 9977px;
    left: 859px;
    font-size: 24px;
    letter-spacing: 0.5px;
    line-height: 30px;
    text-align: right;
    display: inline-block;
    width: 444px;
}
.basic {
    position: absolute;
    top: 10132px;
    left: 61px;
    font-size: 34px;
    line-height: 41px;
    display: inline-block;
    width: 197px;
}
.div32 {
    position: absolute;
    top: 10200px;
    left: 61px;
    font-size: 20px;
    line-height: 30px;
    color: #707378;
    display: inline-block;
    width: 277px;
}
.div33 {
    position: absolute;
    top: 10322px;
    left: 95px;
    font-size: 20px;
    line-height: 30px;
    color: #707378;
    display: inline-block;
    width: 198px;
}
.qr-4 {
    position: absolute;
    top: 10387px;
    left: 95px;
    line-height: 30px;
    color: #707378;
    display: inline-block;
    width: 281px;
}
.div34 {
    position: absolute;
    top: 10452px;
    left: 95px;
    font-size: 19px;
    line-height: 30px;
    color: #707378;
    display: inline-block;
    width: 211px;
}
.div35 {
    position: absolute;
    top: 10487px;
    left: 95px;
    font-size: 19px;
    line-height: 30px;
    color: #707378;
    display: inline-block;
    width: 268px;
}
.div36 {
    position: absolute;
    top: 10522px;
    left: 95px;
    font-size: 19px;
    line-height: 30px;
    color: #707378;
    display: inline-block;
    width: 251px;
}
.div37 {
    position: absolute;
    top: 10557px;
    left: 95px;
    font-size: 20px;
    line-height: 30px;
    color: #707378;
    display: inline-block;
    width: 171px;
}
.div38 {
    position: absolute;
    top: 10592px;
    left: 95px;
    line-height: 30px;
    color: #707378;
    display: inline-block;
    width: 128px;
}
.div39 {
    position: absolute;
    top: 10845px;
    left: 61px;
    font-size: 72px;
    line-height: 74px;
    display: inline-block;
    width: 136px;
}
.div40 {
    position: absolute;
    top: 10878px;
    left: 212px;
    line-height: 30px;
    color: #fe6645;
    display: inline-block;
    width: 37px;
}
.div41 {
    position: absolute;
    top: 10908px;
    left: 212px;
    font-size: 19px;
    line-height: 30px;
    color: #707378;
    display: inline-block;
    width: 64px;
}
.pro {
    position: absolute;
    top: 10132px;
    left: 531px;
    font-size: 34px;
    line-height: 41px;
    display: inline-block;
    width: 164px;
}
.div42 {
    position: absolute;
    top: 10200px;
    left: 531px;
    font-size: 19px;
    line-height: 30px;
    color: #707378;
    display: inline-block;
    width: 309px;
}
.basic1 {
    position: absolute;
    top: 10322px;
    left: 531px;
    font-size: 20px;
    line-height: 30px;
    display: inline-block;
    width: 287px;
}
.qr-5 {
    position: absolute;
    top: 10362px;
    left: 565px;
    font-size: 20px;
    line-height: 30px;
    color: #707378;
    display: inline-block;
    width: 256px;
}
.div43 {
    position: absolute;
    top: 10397px;
    left: 565px;
    font-size: 19px;
    line-height: 30px;
    color: #707378;
    display: inline-block;
    width: 176px;
}
.div44 {
    position: absolute;
    top: 10432px;
    left: 565px;
    font-size: 20px;
    line-height: 30px;
    color: #707378;
    display: inline-block;
    width: 306px;
}
.div45 {
    position: absolute;
    top: 10467px;
    left: 565px;
    font-size: 20px;
    line-height: 30px;
    color: #707378;
    display: inline-block;
    width: 238px;
}
.telegram-1 {
    position: absolute;
    top: 10502px;
    left: 565px;
    font-size: 20px;
    line-height: 30px;
    color: #707378;
    display: inline-block;
    width: 277px;
}
.div46 {
    position: absolute;
    top: 10537px;
    left: 565px;
    font-size: 20px;
    line-height: 30px;
    color: #707378;
    display: inline-block;
    width: 143px;
}
.div47 {
    position: absolute;
    top: 10572px;
    left: 565px;
    font-size: 20px;
    line-height: 30px;
    color: #707378;
    display: inline-block;
    width: 201px;
}
.div48 {
    position: absolute;
    top: 10607px;
    left: 565px;
    font-size: 20px;
    line-height: 30px;
    color: #707378;
    display: inline-block;
    width: 158px;
}
.check-out1 {
    position: absolute;
    top: 10642px;
    left: 565px;
    line-height: 30px;
    color: #707378;
    display: inline-block;
    width: 191px;
}
.div49 {
    position: absolute;
    top: 10677px;
    left: 565px;
    font-size: 20px;
    line-height: 30px;
    color: #707378;
    display: inline-block;
    width: 247px;
}
.div50 {
    position: absolute;
    top: 10712px;
    left: 565px;
    font-size: 20px;
    line-height: 30px;
    color: #707378;
    display: inline-block;
    width: 181px;
}
.div51 {
    position: absolute;
    top: 10747px;
    left: 565px;
    font-size: 20px;
    line-height: 30px;
    color: #707378;
    display: inline-block;
    width: 188px;
}
.div52 {
    position: absolute;
    top: 10845px;
    left: 531px;
    font-size: 72px;
    line-height: 74px;
    display: inline-block;
    width: 181px;
}
.div53 {
    position: absolute;
    top: 10878px;
    left: 727px;
    line-height: 30px;
    color: #fe6645;
    display: inline-block;
    width: 50px;
}
.div54 {
    position: absolute;
    top: 10908px;
    left: 727px;
    font-size: 19px;
    line-height: 30px;
    color: #707378;
    display: inline-block;
    width: 64px;
}
.add-ons {
    position: absolute;
    top: 10132px;
    left: 1001px;
    font-size: 36px;
    line-height: 41px;
    color: #a9ff2c;
    display: inline-block;
    width: 136px;
}
.pro- {
    position: absolute;
    top: 10200px;
    left: 1001px;
    font-size: 20px;
    line-height: 30px;
    color: #707378;
    display: inline-block;
    width: 373px;
}
.pms2 {
    position: absolute;
    top: 10322px;
    left: 1035px;
    font-size: 20px;
    line-height: 30px;
    color: #707378;
    display: inline-block;
    width: 339px;
}
.div55 {
    position: absolute;
    top: 10357px;
    left: 1035px;
    font-size: 20px;
    line-height: 30px;
    color: #707378;
    display: inline-block;
    width: 201px;
}
.pos-sos {
    position: absolute;
    top: 10392px;
    left: 1035px;
    font-size: 20px;
    line-height: 30px;
    color: #707378;
    display: inline-block;
    width: 343px;
}
.grms1 {
    position: absolute;
    top: 10427px;
    left: 1035px;
    font-size: 20px;
    line-height: 30px;
    color: #707378;
    display: inline-block;
    width: 318px;
}
.div56 {
    position: absolute;
    top: 10492px;
    left: 1035px;
    font-size: 20px;
    line-height: 30px;
    color: #707378;
    display: inline-block;
    width: 328px;
}
.div57 {
    position: absolute;
    top: 10881px;
    left: 1001px;
    font-size: 44px;
    line-height: 51px;
    color: #fff;
    display: inline-block;
    width: 233px;
}
.div58 {
    position: absolute;
    top: 11062px;
    left: 30px;
    font-size: 52px;
    line-height: 58px;
    display: inline-block;
    width: 450px;
}
.hoteza1 {
    position: absolute;
    top: 11178px;
    left: 487px;
    font-size: 46px;
    line-height: 51px;
    display: inline-block;
    width: 800px;
}
.caroline-rowe {
    position: absolute;
    top: 11684px;
    left: 487px;
    font-size: 23px;
    line-height: 30px;
    display: inline-block;
    width: 149px;
}
.media-one-hotel {
    position: absolute;
    top: 11717px;
    left: 487px;
    font-size: 20px;
    line-height: 30px;
    color: #707378;
    display: inline-block;
    width: 624px;
}
.hoteza2 {
    position: absolute;
    top: 11178px;
    left: 1860px;
    font-size: 46px;
    line-height: 51px;
    display: inline-block;
    width: 804px;
}
.vasja-retnik {
    position: absolute;
    top: 11603px;
    left: 1860px;
    font-size: 22px;
    line-height: 30px;
    display: inline-block;
    width: 134px;
}
.terme-olimia {
    position: absolute;
    top: 11636px;
    left: 1860px;
    font-size: 20px;
    line-height: 30px;
    color: #707378;
    display: inline-block;
    width: 627px;
}
.div59 {
    position: absolute;
    top: 11178px;
    left: 3233px;
    font-size: 46px;
    line-height: 51px;
    display: inline-block;
    width: 777px;
}
.div60 {
    position: absolute;
    top: 11584px;
    left: 3233px;
    font-size: 23px;
    line-height: 30px;
    display: inline-block;
    width: 169px;
}
.div61 {
    position: absolute;
    top: 11617px;
    left: 3233px;
    line-height: 30px;
    color: #707378;
    display: inline-block;
    width: 699px;
}
.div62 {
    position: absolute;
    top: 11832px;
    left: 30px;
    font-size: 52px;
    line-height: 58px;
    display: inline-block;
    width: 443px;
}
.emilly-barrett {
    position: absolute;
    top: 12043px;
    left: 130px;
    font-size: 19px;
    letter-spacing: 0.35px;
    line-height: 30px;
    display: inline-block;
    width: 121px;
}
.div63 {
    position: absolute;
    top: 12123px;
    left: 60px;
    letter-spacing: 0.35px;
    line-height: 30px;
    display: inline-block;
    width: 338px;
}
.christopher-doyle {
    position: absolute;
    top: 12363px;
    left: 130px;
    font-size: 20px;
    letter-spacing: 0.35px;
    line-height: 30px;
    display: inline-block;
    width: 165px;
}
.div64 {
    position: absolute;
    top: 12443px;
    left: 60px;
    letter-spacing: 0.35px;
    line-height: 30px;
    display: inline-block;
    width: 340px;
}
.margaret-sims {
    position: absolute;
    top: 12043px;
    left: 564px;
    font-size: 19px;
    letter-spacing: 0.35px;
    line-height: 30px;
    display: inline-block;
    width: 133px;
}
.applepay {
    position: absolute;
    top: 12123px;
    left: 494px;
    letter-spacing: 0.35px;
    line-height: 30px;
    display: inline-block;
    width: 333px;
}
.clare-hamilton {
    position: absolute;
    top: 12423px;
    left: 564px;
    font-size: 19px;
    letter-spacing: 0.35px;
    line-height: 30px;
    display: inline-block;
    width: 133px;
}
.div65 {
    position: absolute;
    top: 12503px;
    left: 494px;
    letter-spacing: 0.35px;
    line-height: 30px;
    display: inline-block;
    width: 315px;
}
.thomas-fletcher {
    position: absolute;
    top: 12043px;
    left: 999px;
    font-size: 19px;
    letter-spacing: 0.35px;
    line-height: 30px;
    display: inline-block;
    width: 154px;
}
.spa {
    position: absolute;
    top: 12123px;
    left: 929px;
    font-size: 18px;
    letter-spacing: 0.35px;
    line-height: 30px;
    display: inline-block;
    width: 327px;
}
.benedict-french {
    position: absolute;
    top: 12303px;
    left: 999px;
    font-size: 19px;
    letter-spacing: 0.35px;
    line-height: 30px;
    display: inline-block;
    width: 148px;
}
.div66 {
    position: absolute;
    top: 12383px;
    left: 929px;
    font-size: 19px;
    letter-spacing: 0.35px;
    line-height: 30px;
    display: inline-block;
    width: 138px;
}
.qr-6 {
    position: absolute;
    top: 12383px;
    left: 1067px;
    letter-spacing: 0.35px;
    line-height: 30px;
    display: inline-block;
    width: 70px;
}
.div67 {
    position: absolute;
    top: 12383px;
    left: 929px;
    letter-spacing: 0.35px;
    line-height: 30px;
    display: inline-block;
    width: 338px;
}
.div68 {
    position: absolute;
    top: 12768px;
    left: 30px;
    font-size: 52px;
    line-height: 58px;
    display: inline-block;
    width: 283px;
}
.div69 {
    position: absolute;
    top: 12781px;
    left: 463px;
    letter-spacing: 0.5px;
    line-height: 30px;
    display: inline-block;
    width: 581px;
}
.div70 {
    position: absolute;
    top: 12856px;
    left: 463px;
    letter-spacing: 0.5px;
    line-height: 30px;
    display: inline-block;
    width: 478px;
}
.div71 {
    position: absolute;
    top: 12931px;
    left: 463px;
    letter-spacing: 0.5px;
    line-height: 30px;
    display: inline-block;
    width: 695px;
}
.div72 {
    position: absolute;
    top: 13006px;
    left: 463px;
    letter-spacing: 0.5px;
    line-height: 30px;
    display: inline-block;
    width: 505px;
}
.pms3 {
    position: absolute;
    top: 13081px;
    left: 463px;
    letter-spacing: 0.5px;
    line-height: 30px;
    display: inline-block;
    width: 303px;
}
.div73 {
    position: absolute;
    top: 13156px;
    left: 463px;
    letter-spacing: 0.5px;
    line-height: 30px;
    display: inline-block;
    width: 694px;
}
.div74 {
    position: absolute;
    top: 13232px;
    left: 463px;
    letter-spacing: 0.5px;
    line-height: 30px;
    display: inline-block;
    width: 573px;
}
.div75 {
    position: absolute;
    top: 13551px;
    left: 524px;
    font-size: 72px;
    line-height: 74px;
    text-align: center;
    display: inline-block;
    width: 286px;
}
.div76 {
    position: absolute;
    top: 13624px;
    left: 277px;
    font-size: 72px;
    line-height: 74px;
    text-align: center;
    display: inline-block;
    width: 780px;
}
.hoteza3 {
    position: absolute;
    top: 13835px;
    left: 318px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    display: inline-block;
    width: 698px;
}
.div77 {
    position: absolute;
    top: 13948px;
    left: 530px;
    font-size: 22px;
    letter-spacing: 0.25px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 244px;
}
.hoteza-web1 {
    position: absolute;
    top: 14159px;
    left: 498px;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    display: inline-block;
    width: 337px;
}
.frame {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 12813px;
    overflow: hidden;
    text-align: left;
    font-size: 21px;
    color: #000;
    font-family: Roboto;
}
